# ESP-IDF / PlatformIO Build directories
/build/
/.pio/
/.pki/

# Temporary and local config files
.known_targets
sdkconfig.old
compile_commands.json

# Dependencies downloaded by package manager
/managed_components/